.list__content {
    margin: 0 auto;
}

.content__ttl {
    text-align: center;
}

.list__form {

}

.merchandise__img {
    margin-left: 500px;
}

.img__ttl {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.img__content {
    border: solid 1px black;
    border-radius: 3px;
    width: 500px;
    height: 100px;
}

.img__choice {
    width: 150px;
    height: 30px;
    margin-top: 33px;
    margin-left: 175px;
    border: solid 3px #ff6666;
    border-radius: 5px;
    background: white;
    color: #ff6666;
    font-weight: bold;
}

.merchandise__detail {
    margin-left: 500px;
    margin-top: 50px;
}

.detail__ttl {
    font-size: 22px;
    color: #777777;
    font-weight: bold;
    border-bottom: solid 1px black;
    width: 500px;
}

.form__group {
    margin-bottom: 10px;
    margin-top: 30px;
}

.form__label-item {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.form__group-content {
    width: 500px;
}

.form__input-item {
    width: 500px;
    height: 30px;
}

.merchandise__information {
    margin-left: 500px;
    margin-top: 50px;
}

.information__ttl {
    font-size: 22px;
    color: #777777;
    font-weight: bold;
    border-bottom: solid 1px black;
    width: 500px;
}

.form__input-textarea {
    width: 500px;
    height: 100px;
}

.sale__price {
    margin-left: 500px;
    margin-top: 50px;
}

.sale__price-ttl {
    font-size: 22px;
    color: #777777;
    font-weight: bold;
    border-bottom: solid 1px black;
    width: 500px;
}

.list__button {
    margin-left: 500px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.list__button-submit {
    width: 500px;
    height: 40px;
    border: solid 2px #ff6666;
    border-radius: 3px;
    background: #ff6666;
    color: white;
    font-size: 18px;
    font-weight: bold;
}